/CoreApi/bin/Debug/netcoreapp3.1/CoreApi.dll
/CoreApi/bin/Debug/netcoreapp3.1/CoreApi.exe
/CoreApi/bin/Debug/netcoreapp3.1/CoreApi.pdb
/CoreApi/bin/Debug/netcoreapp3.1/appsettings.Development.json
/CoreApi/bin/Debug/netcoreapp3.1/appsettings.json
/CoreApi/bin/Debug/netcoreapp3.1/CoreApi.deps.json
/CoreApi/bin/Debug/netcoreapp3.1/CoreApi.runtimeconfig.dev.json
/CoreApi/bin/Debug/netcoreapp3.1/CoreApi.runtimeconfig.json
/CoreApi/bin/Debug/netcoreapp3.1/CoreApiModels.dll
/CoreApi/bin/Debug/netcoreapp3.1/CoreApiModels.pdb
/CoreApi/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
/CoreApi/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Debug.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/CoreApi/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/CoreApi/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/CoreApi/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/CoreApi/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/CoreApi/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
/CoreApi/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
/CoreApi/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
/CoreApi/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
/CoreApi/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
/CoreApi/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/CoreApi/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CoreApi/obj/CoreApi.csproj.nuget.cache
/CoreApi/obj/CoreApi.csproj.nuget.dgspec.json
/CoreApi/obj/CoreApi.csproj.nuget.g.props
/CoreApi/obj/CoreApi.csproj.nuget.g.targets
/CoreApi/obj/Debug/netcoreapp3.1/CoreApi.AssemblyInfo.cs
/CoreApi/obj/Debug/netcoreapp3.1/CoreApi.AssemblyInfoInputs.cache
/CoreApi/obj/Debug/netcoreapp3.1/CoreApi.assets.cache
/CoreApi/obj/Debug/netcoreapp3.1/CoreApi.csproj.CopyComplete
/CoreApi/obj/Debug/netcoreapp3.1/CoreApi.csproj.FileListAbsolute.txt
/CoreApi/obj/Debug/netcoreapp3.1/CoreApi.csprojAssemblyReference.cache
/CoreApi/obj/Debug/netcoreapp3.1/CoreApi.dll
/CoreApi/obj/Debug/netcoreapp3.1/CoreApi.exe
/CoreApi/obj/Debug/netcoreapp3.1/CoreApi.MvcApplicationPartsAssemblyInfo.cache
/CoreApi/obj/Debug/netcoreapp3.1/CoreApi.pdb
/CoreApi/obj/Debug/netcoreapp3.1/CoreApi.RazorTargetAssemblyInfo.cache
/CoreApi/obj/Debug/netcoreapp3.1/staticwebassets/CoreApi.StaticWebAssets.Manifest.cache
/CoreApi/obj/Debug/netcoreapp3.1/staticwebassets/CoreApi.StaticWebAssets.xml
/CoreApi/obj/project.assets.json
/CoreApi/.vs/CoreApi/v16/.suo
/CoreApi/.vs/CoreApi/v16/Server/sqlite3/db.lock
/CoreApi/.vs/CoreApi/v16/Server/sqlite3/storage.ide
/CoreApi/.vs/CoreApi/v16/Server/sqlite3/storage.ide-shm
/CoreApi/.vs/CoreApi/v16/Server/sqlite3/storage.ide-wal
/CoreApiModels/bin/Debug/netstandard2.0/CoreApiModels.deps.json
/CoreApiModels/bin/Debug/netstandard2.0/CoreApiModels.dll
/CoreApiModels/bin/Debug/netstandard2.0/CoreApiModels.pdb
/CoreApiModels/obj/CoreApiModels.csproj.nuget.cache
/CoreApiModels/obj/CoreApiModels.csproj.nuget.dgspec.json
/CoreApiModels/obj/CoreApiModels.csproj.nuget.g.props
/CoreApiModels/obj/CoreApiModels.csproj.nuget.g.targets
/CoreApiModels/obj/Debug/netstandard2.0/CoreApiModels.AssemblyInfo.cs
/CoreApiModels/obj/Debug/netstandard2.0/CoreApiModels.AssemblyInfoInputs.cache
/CoreApiModels/obj/Debug/netstandard2.0/CoreApiModels.assets.cache
/CoreApiModels/obj/Debug/netstandard2.0/CoreApiModels.csproj.FileListAbsolute.txt
/CoreApiModels/obj/Debug/netstandard2.0/CoreApiModels.csprojAssemblyReference.cache
/CoreApiModels/obj/Debug/netstandard2.0/CoreApiModels.dll
/CoreApiModels/obj/Debug/netstandard2.0/CoreApiModels.pdb
/CoreApiModels/obj/project.assets.json
/CoreApi/.vs/CoreApi/DesignTimeBuild/.dtbcache
